
.body{
    background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
background-size: cover;
width: 100%;
height: 95vh;

}

form{
    padding-top: 50px;
    position: absolute;
    left: 50%;
    top:210px;
    transform: translateX(-50%);
  width: 40%;
  height: 320px;
  background-color: rgb(22, 22, 32);
  display: flex;
  flex-direction: column;
 
  align-items: center;
  gap:25px;
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 900;
  .row{
      display: flex;
      flex-direction: column;
    .ps{
        color: rgb(255, 2, 2);
    }
      input{
          width: 300px;
      }
    
  }
.btn{
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  background-color: rgb(0, 68, 255);
  color: rgb(255, 255, 255);
 font-weight: bold;
}

}

//reponsive
@media screen and (max-width:1200px) {
  form{
    width: 96%;
  }
  
}