@font-face {
    font-family: poppins;
    src: url('../../assets/fonts/Poppins-Regular.ttf');
}

nav{
    position: relative;
    top: 0;
    display: flex;
    width: 100%;
    padding: 5px;
    height: 50px;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
 
    span{
    position: relative;
    left: 5%;
       font-size: 24px; 
    color: #FFFFFF;
    cursor: default;
      img{
        position: absolute;
        right:-14px;
        top:0px;
      }
    }
    .regitredbox{
  
        height: 40px;
        display: flex;
        cursor: pointer;
        gap:6px;
        margin-right: 5px;
         .boxtext{
            width: 100px;
            display: flex;
            flex-direction: column;
            text-align: right;
            color: #FFFFFF;
            .name{
                font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;

text-transform: capitalize;

color: #FFFFFF;

opacity: 0.5;

            }

  

        }
    
         img{
            width: 50px;
           background-size: contain;
            border-radius: 50%;
  
         }    
    }
    .registration{
        cursor: pointer;
        width: 150px;
        display:flex ;
        gap:10px;
        button{
           padding: 5px;
           border-radius: 7px;
           border: unset;
           color: #FFFFFF;
   
        }
        .firstbtn{
                    background-color: rgba(185, 176, 4, 0.653);
        }
        .secondbtn{
            background-color: rgba(4, 185, 4, 0.627);
        }
    }
    .icon{
        display: none;

    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:5%;
        list-style: none;
        width: 100%;
        .white{
            padding: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 900;
box-shadow: 0px 0px 5px white;
font-size: 15px;
line-height: 21px;


text-transform: capitalize;

color: #ffffff;
        }
        .orange{
            
            a{
              list-style: none;
              color: orange;
              text-decoration:  none;
            }
        }
        li{
            font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
cursor: pointer;
text-transform: capitalize;

color: #FFFFFF;

opacity: 0.7;
        }
    }
}
button{
    cursor: pointer;
}


//responsive

@media screen and (max-width: 670px) {
    nav {
      justify-content: space-between;
      padding: 10px;
      .registration{
        width: unset;
      }
      .icon {
        display: block;
        margin: 10px;
      }
      ul {
        display: none;
      }
      .icon:hover ~ ul,
      ul:hover {
        display: flex;
        position: absolute;
        top: 40px;
        left: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.795);
        width: 120px;
        height: 250px;
        z-index: 3;
      }
  
    }
  }
  