
<header>
<h4>Discover the most engaging places </h4>
<button>Discover on 3D Globe </button>
<div class="FooterOfHeader">
<div class="card">

</div>

<div class="card">
    <img src="../../../assets/icons/GroupHfootericon.png" alt="">
    <div class="colum">
        <p>location</p>
        <h3>explore nearby destination</h3>
    </div>
</div>

<div class="card">
    <img src="../../../assets/icons/iconbycicle-2.png" alt="">
    <div class="colum">
        <p>activity</p>
        <h3>All Activities</h3>
    </div>
</div>

<div class="card">
    <img src="../../../assets/icons/iconthird-3.png" alt="">
    <div class="colum">
        <p>when</p>
        <h3>Choose a Date</h3>
    </div>
</div>

<div class="card">
    <img src="../../../assets/icons/group-linelast-4.png" alt="">
    <div class="colum">
        <p>Guests</p>
        <h3>1 guest</h3>
    </div>
</div>

<button routerLink="destinations" ><img  src="../../../assets/icons/Vectorsearch.png" alt=""> </button>
</div>

    
</header>
<main>
  <h3 class="h3">Popular Destinations <button routerLink="destinations">view all <img src="../../../assets/icons/Grouparrowright.png" alt=""></button></h3>
<div class="row1 rows">

    <div class="cardr1"> 
        <img src="../../../assets/img for home/imgfirstrow1.png" alt="">
        <h4>Big Sur</h4>
        <p> California, USA</p>
      
      </div>    

<div class="cardr1"> 
  <img src="../../../assets/img for home/imgfirstrow2.png" alt="">
  <h4>Prescott</h4>
  <p> Arizona, USA</p>
</div>    

<div class="cardr1"> 
    <img src="../../../assets/img for home/imgfirstrow3.png" alt="">
    <h4>Fort Mayers</h4>
    <p>Florida, USA</p>
  
  </div>    

  <div class="cardr1"> 
    <img src="../../../assets/img for home/imgfirstrow4.png" alt="">
    <h4>Tucson</h4>
    <p>Arizona, USA</p>
  
  </div>    

  <div class="cardr1"> 
    <img src="../../../assets/img for home/imgfirstrow5.png" alt="">
    <h4>St. Joseph</h4>
    <p>Michigan, USA</p>
  
  </div>    

 

  <div class="cardr1"> 
    <img src="../../../assets/img for home/imgfirstrow6.png" alt="">
    <h4>Madrid</h4>
    <p> Spain</p>
  
  </div>    
  
</div>

<h3 class="h3">hotels and restaurants </h3>

<div class="row2 rows">

  
  <div class="card2"> 
    <img class=img2 src="../../../assets/img for home/Frame 3secondrow1.png" alt="">
    <h4>Monastero Santa Rosa Hotel & Spa</h4>
    <div class="prow"><div class="left"><img src="../../../assets/icons/Vectorlocation.png" alt="location"> <p>Salerno, Italy</p></div><img  class='stars' src="../../../assets/icons/defaultstars5.png" alt=""></div>
  </div> 

  <div class="card2"> 
    <img class=img2 src="../../../assets/img for home/Frame 3secondrow2.png" alt="">
    <h4>Grand Hotel Tremezzo</h4>
    <div class="prow"><div class="left"><img src="../../../assets/icons/Vectorlocation.png" alt="location"> <p>Lake Como, Italy</p></div><img class='stars' src="../../../assets/icons/defaultstars3.png" alt=""></div>
  </div> 


  <div class="card2"> 
    <img class=img2 src="../../../assets/img for home/Frame 3secondrow3.png" alt="">
    <h4>The Oberoi Udaivilas, Udaipur</h4>
    <div class="prow"><div class="left"><img src="../../../assets/icons/Vectorlocation.png" alt="location"> <p>Udaipur, India</p></div><img class='stars' src="../../../assets/icons/defaultstars.png" alt=""></div>
  </div> 


  
  <div class="card2"> 
    <img class=img2 src="../../../assets/img for home/Frame 3secondrow4.png" alt="">
    <h4>AKA Beverly Hills</h4>
    <div class="prow"><div class="left"><img src="../../../assets/icons/Vectorlocation.png" alt="location"> <p>Los Angeles,USA</p></div><img class='stars' src="../../../assets/icons/defaultstars3.png" alt=""></div>
  </div> 

</div>

 <h3 class="h3">Travel Tips and Advice  <button>view all <img src="../../../assets/icons/Grouparrowright.png" alt=""></button></h3>

  <div class="row3 rows">
<div class="card">
<img src="../../../assets/img for home/imgthirdrow1.png" alt="">

<div class="rightside">
<h3>East Village Ice Cream Crawl</h3>
<p>We will stop at five different world-class ice cream shops on this 1.5 mile 1.5 hour tour. At each ice cream store we'll explore the story behind the business and see what makes the ice cream unique as you savor every…</p>
<div class="iconrow">

<div class="icon">
  <img src="../../../assets/icons/Vectorthirdrowicon1.png" alt="">
  <span>Today</span>
</div>
<div class="icon">
  <img src="../../../assets/icons/Vectorthirdrowicon2.png" alt="">
  <span>Maria Philips</span>
</div>
<div class="icon">
  <img src="../../../assets/icons/Vectorthirdrowicon3.png" alt="">
  <span>2</span>
</div>

</div>





</div>


</div>

<div class="card">
  <img src="../../../assets/img for home/imgthirdrow2.png" alt="">
  
  <div class="rightside">
  <h3>Brooklyn Bridge cinematic photo walk</h3>
  <p>This experience takes place at the Brooklyn Bridge Park and Brooklyn Bridge, but I'm always open to capture clients at different locations upon request for an additional charge. </p>
  <div class="iconrow">
  
  <div class="icon">
    <img src="../../../assets/icons/Vectorthirdrowicon1.png" alt="">
    <span>Today</span>
  </div>
  <div class="icon">
    <img src="../../../assets/icons/Vectorthirdrowicon2.png" alt="">
    <span>James Calzoni</span>
  </div>
  <div class="icon">
    <img src="../../../assets/icons/Vectorthirdrowicon3.png" alt="">
    <span>17</span>
  </div>
  
  </div>
  </div>
  </div>
  </div>

  <h3 class="h3">  Activities  <button routerLink="activities">view all <img src="../../../assets/icons/Grouparrowright.png" alt=""></button></h3>
<div class="row4 rows">

  <div class="card">
    <img src="../../../assets/img for home/imgrow4.png" alt="">
    <h5>Sailing</h5>
  </div>
 
  <div class="card">
    <img src="../../../assets/img for home/imgrow4-2.png" alt="">
    <h5>Climbing</h5>
  </div>
  <div class="card">
    <img src="../../../assets/img for home/imgrow4-3.png" alt="">
    <h5>Skiing</h5>
  </div>
  <div class="card">
    <img src="../../../assets/img for home/imgrow4-4.png" alt="">
    <h5>Hiking</h5>
  </div>
 
</div>

<div class="lastrow rows">
<div class="leftside">
  <h2>About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a sapien justo. Nulla facilisis tristique imperdiet. Nullam a placerat odio. Sed in ex augue. Aliquam porta consectetur lorem sit amet ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  <button>view all <img src="../../../assets/icons/Grouparrowright.png" alt=""></button>
</div>
<img class="lastimg" src="../../../assets/img for home/image 23lastrow.png" alt="">
</div>
</main>

<footer>
<div class="firstcol col">
  <span>2rism <img src="../../assets/icons/Vector2rismnav.png" alt=""></span>
  <p>We always make our customers happy by providing as many choises as possible</p>
  <div class="iconrow"> 
    <img src="../../../assets/icons/Vectorfirstcol-1.png" alt="">
    <img src="../../../assets/icons/Vectorfirstcol-2.png" alt="">
    <img src="../../../assets/icons/Vectorfirstcol-3.png" alt="">
  </div>
</div>


<div class="secondcol col">
  <h2>About</h2>
  <p>About Us</p>
  <p>Features</p>
  <p>News</p>
  <p>Menu</p>
</div>

<div class="thirdcol col" id="contact">
  <h2>Company</h2>
  <p>Why 2rism</p>
  <p>Partner With Us</p>
  <p>FAQ</p>
  <p>Blog</p>
</div>

<div class="fourthcol col">
  <h2>Support</h2>
  <p>Account</p>
  <p>Support Center</p>
  <p>Feedback</p>
  <p>Contact Us</p>
</div>

<div class="fifthcol col">
  <h4>Subscribe on our destination review newsletters</h4>
  <div class="row">
    <img src="../../../assets/icons/Vectorlastcol.png" alt="">
 <div class="text col"><p>Your Email</p>    <!-- maye need update -- -->  <h4>{{email}}</h4> </div>
   <button><img src="../../../assets/icons/Vectorarrowright-W.png" alt=""></button>
  </div>
</div>
</footer>