.body{
 background-image: url('https://images.unsplash.com/photo-1621146027714-e8921770f8d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
 background-size: cover;
 background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;

    h4{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    color: white;
    font-size: 25px;
box-shadow: 0px 3px 39px white;
    background-color: rgba(0, 0, 0, 0.174);
    }
    .cardparent{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 879px;
    align-items: center;
    gap: 15px;
    padding-bottom: 200px;
        .card {
            cursor: pointer;

            position: relative;
            width: 24%;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
          
            img {
                border-radius: 12px;
                height: 95%;
              width: 100%;
            }
          
            h5 {
                height: 20 px;
              padding: 4px;
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 24px;
              color: #161414;
            opacity: 0;
            transition: all,1s;
            }
          
            &:hover {
                cursor: pointer;
                
              h5 {
          
           opacity: 1;
                font-size: 16px;
                color: aliceblue;
         transition: all,1s;
              }
            }
          }
          
    }
 
}  
 .popwindow{    
  border-radius: 4px;  
      width: 70%;
max-height: 80vh;
overflow-y: scroll;
padding: 50px;
      position: fixed;
      bottom: 0px;
      left:50%;
      transform: translate(-50%, 0);
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: center;

    background-color: rgb(0, 0, 0);
    transition: all 5s;  
      color:rgb(255, 255, 255);
   span{
  display: flex;
  flex-direction: column;
  gap: 30px;
  .li{
    display: flex;
    flex-direction: column;
    gap:20px
  }
   }
    }
.cover{
  background-color: rgba(128, 128, 128, 0.126);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;  
}

@media screen  and (max-width:880px){
  .body{

    .cardparent{
      width: 400px;
     gap: 5px;
      .card{
      width: 49%;
      height: 360px;
      }
    }
  }
    .popwindow{
      width: 93%;
    }
}
@media screen and (max-width:401px) {
  .body{

    .cardparent{
      width: 320px;
     gap: 4px;
      .card{
      width: 49%;
      height: 340px;
      }
    }
  }
}